
@{
    ViewBag.Title = "index";
}

<div class="row">
   
    <div class="col-sm-12 col-md-6">
        <h2>Are you looking for a puppy?</h2>
        <p class="lead">There are many important things to consider before you start looking to buy a dog - from finding out if you are ready, to discovering the right breed to suit your lifestyle. Also, do you want to buy a pedigree puppy or get a dog from a breed rescue? This section contains the information you need to find your new best friend.</p>
    </div>
</div>

