
@{
    ViewBag.Title = "index";
}

<div class="row">
    <div class="col-sm-12 col-md-6">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>Are you looking for a puppy?</h2>
        <p class="lead">There are many important things to consider before you start looking to buy a dog - from finding out if you are ready, to discovering the right breed to suit your lifestyle. Also, do you want to buy a pedigree puppy or get a dog from a breed rescue? This section contains the information you need to find your new best friend.</p>
    </div>
</div>

