.thumbnail {
    width: 200px;
    height: 250px;
}
h3 {
    margin-left: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {
    padding-top: 0px;
    padding-bottom: 20px;  
    background-size: cover;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.header {
    /*background-image: url(http://cliparts.co/cliparts/dT9/KpX/dT9KpXaGc.png);*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-height: 120px;
    max-height: 120px;

  
   
}
