@model IEnumerable<Djur.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>

<form class="navbar-form" action="/Search" method="post">
    <div class="input-group">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </span>
        <input name="SearchString" type="text" class="form-control" placeholder="Search for...">
    </div><!-- /input-group -->
</form>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <p>@Html.DisplayFor(modelItem => item.Title) </p>
        @Html.DisplayFor(modelItem => item.Price)
    }
}

